{% extends "base.html" %}

{% block body %}
<div class='container' style='text-align:center'>
    <h4>Ad : {{user.first_name}}</h4>
    <h4>Soyad : {{user.last_name}}</h4>
    <h4>Email : {{user.email}}</h4>
    <h4>Qeydiyyat tarixi: {{user.last_login}}</h4><br>
    <img src="{{ user.userprofil.image.url }}" width=240 height=200><br><hr>
    {% comment %} <a href="{% url 'sendemail:sendemail' %}"><button class="btn btn-danger">parolu dəyişərək emailə göndər</button></a> {% endcomment %}
    <a href="{% url 'accounts:password' %}"><button class="btn btn-primary">parolu dəyiş</button></a>
    <a href="{% url 'profile:updateprofile' %}"><button class="btn btn-primary">profil parametrləri</button></a>
    <a href="{% url 'post:arxivpostlar' %}"><button class="btn btn-primary">arxivlənmiş postlarım</button></a>
</div>
{% endblock body %}