{% extends "base.html" %}
{% load static %}

{% block body %}
<style>
.qara a:link {
  color: black;
}

/* visited link */
.qara  a:visited {
  color: black;
}

/* mouse over link */
.qara a:hover {
  color: blue;
}

/* selected link */
.qara a:active {
  color: black;
}

</style>
<div class='container'>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption qara">
                    <img style='width:630px' src="{%static 'img/ferid.jpg'%}" class='img-responsive'>
                    <br>
                    <a class="col-md-4" style='text-align:center;padding:5px' href='#'>instagram</a>
                    <a class="col-md-4" style='text-align:center;padding:5px' href='#'>facebook</a>
                    <a class="col-md-4" style='text-align:center;padding:5px' href='#'>whatsapp</a>
                    <br>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, ex dolore quisquam accusamus nemo at necessitatibus rem, libero velit iusto laborum voluptas autem eos nam veritatis, non illum dolores cum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, ipsa unde quidem atque laborum eveniet aperiam nesciunt facere ullam ratione qui sint, neque dicta, perferendis officia nihil quae aspernatur sequi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga sit quae aliquid ad quidem incidunt veniam facere voluptatem a autem nesciunt at architecto, quia molestias sapiente possimus, error accusamus non!</p>
                    
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption qara">
                    <img style='width:630px' src="{%static 'img/ferid.jpg'%}" class='img-responsive'>
                    <br>
                    <a class="col-md-4" style='text-align:center;padding:5px' href='#'>instagram</a>
                    <a class="col-md-4" style='text-align:center;padding:5px' href='#'>facebook</a>
                    <a class="col-md-4" style='text-align:center;padding:5px' href='#'>whatsapp</a>
                    <br>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, ex dolore quisquam accusamus nemo at necessitatibus rem, libero velit iusto laborum voluptas autem eos nam veritatis, non illum dolores cum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, ipsa unde quidem atque laborum eveniet aperiam nesciunt facere ullam ratione qui sint, neque dicta, perferendis officia nihil quae aspernatur sequi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga sit quae aliquid ad quidem incidunt veniam facere voluptatem a autem nesciunt at architecto, quia molestias sapiente possimus, error accusamus non!</p>
                    
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
