{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block header %}


    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jafarzada Blog</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/default.png' %}">
    <script data-ad-client="ca-pub-1986806419810563" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body style="background-color: #eaeae1">
    {% include "header.html" %}
    <div style='display:block'></div>
    {% include "categoryheader.html" %}
    <br>
    {% block body %}


    {% endblock  %}

    <hr><hr><hr>
    {% include "footer.html" %}
    {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"><script> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    * {
    font-family: 'Muli', sans-serif;
    }
    </style>
</body>