<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto+Condensed:300' rel='stylesheet' type='text/css'>

<hr>
<footer>
  <div class="social">
    <h3>Bizi izləyin</h3>
    <div class="social-list">
        <a href="https://www.facebook.com/2010ff">
      <button class="social-btn" href="https://www.facebook.com/2010ff">
        <i class="fa fa-facebook-square fa-4x"></i>
        <p>Facebook</p>
      </button>
      </a>
      <a href="https://www.youtube.com/user/AGCEBEDIUSAQLARI">
      <button class="social-btn" >
        <i class="fa fa-youtube-square fa-4x"></i>
        <p>Youtube</p>
      </button>
      </a>
      <a href="https://www.instagram.com/faridjafarzada/">
      <button class="social-btn" >
        <i class="fa fa-instagram fa-4x"></i>
        <p>Instagram</p>
      </button>
      </a>
    </div>
  </div>
  
</footer>


<style>
* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact {
  width: 300px;
  margin: auto;
}

.social {
  max-width: 300px;
  margin: auto;
}

.social-list {
  max-width: 300px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.social h3, .contact h3 {
  font-family: 'Open Sans', Sans Serif;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  background-color: #34495e;
  background-image: url(http://www.transparenttextures.com/patterns/escheresque.png);
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 5px 0;
  color: #fff;
  
}

.social-btn {
  text-align: center;
  border: none;
  color: #bdc3c7;
  width: 60px;
  height: 80px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all .3s ease-out;
  padding: 0 3px 5px 3px;
  margin: 5px 5px 5px 5px;
  font-family: 'Roboto Condensed', Sans Serif;
}

.social-btn:hover {
  color: #34495e;
  -webkit-filter: drop-shadow(0 0 2px #34495e);

}

.social-btn:focus {
  outline: 0;
}



</style>