{% load static %}
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #212121;
   color: white;
   text-align: center;
}
</style>

<div class="footer">
  <a href="https://www.facebook.com/2010ff"><img style='height:30px ;' src='{% static "img/facebook.png" %}' ></a>
  <a href="https://www.youtube.com/user/AGCEBEDIUSAQLARI"><img style='height:30px; padding-left:5px' src='{% static "img/youtube.png" %}' ></a>
  <a href="https://www.instagram.com/faridjafarzada/"><img style='height:30px; padding-left:5px' src='{% static "img/instagram.png" %}' ></a>
  <br>
  <small>Copyright &copy; jafarzada.com</small><br>
</div>