{% load static %}
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   min-height:50px;
   width: 100%;
   background-color: #090909;
   color: white;
   text-align: center;
}
.footer a:link {
  color: white;
}

/* visited link */
.footer  a:visited {
  color: white;
}

/* mouse over link */
.footer a:hover {
  color: #ff4d4d;
}

/* selected link */
.footer a:active {
  color: white;
}
.footer a {
  padding:15px;
}
</style>

<div class="footer">
<br>
  <a href="https://www.facebook.com/2010ff">Facebook</a>
  <a href="https://www.youtube.com/user/AGCEBEDIUSAQLARI">YouTube</a>
  <a href="https://www.instagram.com/faridjafarzada/">İnstagram</a>
  <a href="http://www.jafarzada.com">Jafarzada.com</a>
  <br>
  {% comment %} <small>Copyright &copy; jafarzada.com</small><br> {% endcomment %}
</div>