{% extends "base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{%block header%}
    <script data-ad-client="ca-pub-1986806419810563" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}
{% block body %}


{% include "karusel.html" %}


{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> {% endcomment %}

{% endblock  %}